<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<form action="action_page.php">
		<div align="center">
			<font color="black" size="6" face="Arial Black"> Member Profile</font>
		</div>
		<table style="border: 8px #ff9e8c groove;" cellpadding="10"
			border='30' width='500' height='400' bgcolor="#fff2d9" align="center" valign="middle" >
			
			<tr>
				<td align='center' valign="middle"><b>姓名:</td>
				</b>
				<td align='center' valign="middle"><input type="text" name=""value="">
					</td>
				<td align='center' valign="middle" rowspan='3' width='25%'>
				<a href="連結前往的網址"><img src="圖片網址" width="150" height="100"></a></td>
			</tr>
			<tr>
				<td align='center' valign="middle"><b>年齡:</td>
				</b>
				<td align='center' valign="middle"><input type="text" name=""value=""> 
					</td>
			</tr>
			<tr>
				<td align='center' valign="middle"="center"><b>性別:</td>
				</b>
				<td align='center' valign="middle">
					<input type="radio" name="sex" value="boy">男　　　　
					<input type="radio"name="sex" value="girl">女
				</td>
			</tr>
			<tr>
				<td align='center' valign="middle"><b>地址:</td>
				</b>
				<td align='center' valign="middle"><select name="address"><option
							value="city"></option></select></td>
				<td align='center' valign="middle"><select name="address"><option
							value="town"></option></select></td>
			</tr>

			<tr>
				<td align='center' valign="middle"><b>E-MAIL:</td>
				</b>
				<td align='center' valign="middle"><input type="text"
					name="lastname" value=""><br /> <font color="red" size="1">錯誤訊息顯示在這</font></td>
			</tr>
			<tr>
				<td align='center' valign="middle"><b>手機號碼:</td>
				</b>
				<td align='center' valign="middle"><input type="text"
					name="lastname" value=""><br /> <font color="red" size="1">錯誤訊息顯示在這</font></td>
				<td align='center' valign="middle"><input type="button"
					value="Submit" style="width: 120px; height: 40px; font-size: 15px; background-color:#ccc1ad; "></td>
			</tr>

		</table>


	</form>

</body>
</html>